$primary: #1c1d25;
$primary-half: #1c1d258f;
$secondary: rgb(64, 59, 51);
$button-font-color: #1976d2;
$light-font-color: rgba(255, 255, 255, 0.5);

$mobile-info-bar-height: 40vh;
$desktop-info-bar-width: 300px;

.App {
  text-align: center;
  color: white;
}

.main-content {
  color: white;
}

.App-header {
  background-color: $primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#blogpost-track-select {
  color: white;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.App-link {
  color: #61dafb;
}

.main-layout {
  background-color: $secondary;
}

#sidebar-content {
  background-color: $secondary;
}

.base-modal {
  background-color: $primary;
}

th {
  padding: 2px;
}

td {
  padding: 2px;
}

.user-list-item {
  cursor: pointer;
}

.user-list-item:hover {
  background-color: $primary-half;
}

.user-list-item.selected {
  background-color: $primary;
}

.Mui-expanded {
  margin-top: 0px;
  margin-bottom: 5px;
}

.leaflet-container {
  width: 100%;
  height: 100%
}

.track-selector fieldset {
  border: none;
}

.MuiPagination-root {
  button {
    color: white !important;
  }
}

.MuiTextField-root label {
  color: $light-font-color;
}

.MuiSelect-select.MuiInputBase-input {
  font-size: medium;
  color: white
}

.MuiFormControl-root label {
  font-size: 16px;
  color: $light-font-color;
}

.MuiFormControl-root .MuiInputBase-root {
  line-height: 1em;
}

.no-input-text-field input {
  cursor: pointer;
  user-select: none;
}

#track-select {
  font-size: large;
  color: $button-font-color;
}

.selector-field {
  background-color: #7d7d7d85;
}

#data-selector-bar-content {
  top: 60px;
  transition: top .2s ease-in-out;
}

#data-selector-bar-content.small {
  top: -50px;
}

#data-selector-bar-handle {
  top: -50px;
  transition: top .2s ease-in-out;
}

#data-selector-bar-handle.small {
  top: 60px;
}

#selector-bar-inner-handle {
  transition: transform .2s ease-in-out;
  transform: rotateX(180deg);
}

#selector-bar-inner-handle.small {
  transform: rotateX(0deg);
}

#info-bar-handle {
  transition: all .2s ease-in-out;
}

@media screen and (min-width: 769px) {
  #info-bar-handle.hide {
    right: -50px;
  }
}

@media screen and (max-width: 768px) {
  #info-bar-handle.hide {
    bottom: -50px;
  }
}

.arrow-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  color: black;
}

.marker-cluster-small {
  background-color: rgba(56, 116, 203, 0.4) !important;
}

.marker-cluster-small div {
  background-color: rgba(56, 116, 203, 0.7) !important;
}

@media (min-width: 768px) {
  .full-size-image {
    max-height: 80vh;
  }
}

.leaflet-popup-content {
  margin: 0;
  padding: 5px;
}

.leaflet-popup-content-wrapper {
  background-color: $primary;
  color: white;
}

.leaflet-popup-tip {
  background-color: $primary;
}

.leaflet-popup-close-button {
  display: none;
}

.MuiMenu-list {
  background-color: $secondary;
  color: white;
}

.MuiDrawer-paper {
  overflow: hidden;
}

.MuiInputBase-root input {
  font-size: medium;
  color: white;
}

.date-picker input {
  padding: 0;
  padding-left: 10px;
  width: 120px;
}

.date-picker .reset-button {
  left: 85px
}

.date-picker label:not(.MuiInputLabel-shrink) {
  margin-top: -7px;
}

.date-picker svg {
  color: white
}

.MuiInputBase-root textarea {
  font-size: medium;
  color: white;
}

.MuiTextField-root label {
  font-size: 16px;
}

.info-bar-drawer .MuiPaper-root {
  overflow: hidden;
  background-color: $secondary;
  color: white;
}

@media screen and (max-width: 767px) {
  .info-bar-content {
    max-height: $mobile-info-bar-height;
  }

  .info-bar-drawer {
    max-height: $mobile-info-bar-height;
    top: auto !important;
    transition: all .2s ease-in-out;
  }

  .info-bar-drawer .MuiModal-backdrop {
    max-height: $mobile-info-bar-height;
    top: auto !important;
    transition: all .2s ease-in-out;
  }

  .info-bar-drawer .MuiPaper-root {
    max-height: $mobile-info-bar-height;
    transition: all .2s ease-in-out;
  }

  .info-bar-drawer.full {
    max-height: 100vh;
    height: 70vh;
  }

  .info-bar-drawer.full .MuiModal-backdrop {
    max-height: 100vh;
    height: 70vh;
  }

  .info-bar-drawer.full .MuiPaper-root {
    max-height: 100vh;
    height: 70vh;
  }

  .info-bar-drawer.full .info-bar-content {
    max-height: 70vh;
  }
}

@media screen and (min-width: 768px) {
  .info-bar-content {
    max-width: $desktop-info-bar-width;
  }
}

@media screen and (min-width: 768px) {
  .full-screen-info-bar-placeholder {
    height: 50px;
  }
}

.graph-data-marker {
  z-index: 1 !important;
}