$base-color: #1c1d25;
$secondary: rgb(64, 59, 51);

.App {
  text-align: center;
  color: white;
}

.main-content {
  color: white;
}

.App-header {
  background-color: $base-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-layout {
  background-color: $secondary;
}

#info-sidebar {
  padding-top: 10px;
  width: 0px;
  transition: width .2s ease-in-out;
  color: white;
}

#info-sidebar.open {
  width: 300px;
}

@media screen and (max-width: 768px) {
  #info-sidebar {
    padding-top: 0px;
    width: 100%;
    height: 0px;
    transition: height .2s ease-in-out;
  }

  #info-sidebar.open {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
  }
}

#sidebar-content {
  background-color: $secondary;
}

.base-modal {
  background-color: $base-color;
}

th {
  padding: 2px;
}

td {
  padding: 2px;
}

.user-list-item {
  cursor: pointer;
}

.user-list-item:hover {
  background-color: #31778a;
}

.user-list-item.selected {
  background-color: #61dafb;
}

.Mui-expanded {
  margin-top: 0px;
  margin-bottom: 5px;
}

.leaflet-container {
  width: 100%;
  height: 100%
}

.track-selector fieldset {
  border: none;
}

.MuiPagination-root {
  button {
    color: white !important;
  }
}

.selector-field {
  background-color: #7d7d7d85;
}

#data-selector-bar-content {
  top: 60px;
  transition: top .2s ease-in-out;
}

#data-selector-bar-content.small {
  top: -50px;
}

#data-selector-bar-handle {
  top: -50px;
  transition: top .2s ease-in-out;
}

#data-selector-bar-handle.small {
  top: 60px;
}

#selector-bar-inner-handle {
  transition: transform .2s ease-in-out;
  transform: rotateX(180deg);
}

#selector-bar-inner-handle.small {
  transform: rotateX(0deg);
}

#info-bar-handle {
  transition: all .2s ease-in-out;
}

@media screen and (min-width: 769px) {
  #info-bar-handle.hide {
    right: -50px;
  }
}

@media screen and (max-width: 768px) {
  #info-bar-handle.hide {
    bottom: -50px;
  }
}

.arrow-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  color: black;
}

.marker-cluster-small {
  background-color: rgba(56, 116, 203, 0.4) !important;
}

.marker-cluster-small div {
  background-color: rgba(56, 116, 203, 0.7) !important;
}

.leaflet-popup-content-wrapper {
  background-color: $base-color;
  color: white;
}
.leaflet-popup-tip {
  background-color: $base-color;
}

.MuiMenu-list {
  background-color: $secondary;
}

.MuiInputBase-root input {
  color: white;
}
